{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Add Event to base </h1>
        <br><br>
        {% if submitted %}
            <h1>Your Event was submitted successfully!!</h1>
        {% else %}
            <form action="" method=POST>
                {% csrf_token %}
                {{ form.as_p }}            
                <input type="submit" value="Submit" class="btn btn-secondary">
            </form>
        {% endif %}
        <br/><br/>
    {% else %}
        <h1>Sorry You must be logged in to view this page</h1>
        <a href="{% url 'login_user' %}">Login here</a>
    {% endif %}
{% endblock %}